/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
    width: 15px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #d1d1d1;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ff69b4;
    border-radius: 20px;
    border: 2px solid #f0f0f0;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #ff1493;
  }